:root {
    --cor-neutra-1: #0D0D0D;
    --cor-neutra-2: #1A1A1A;
    --cor-neutra-3: #262626;
    --cor-neutra-4: #333333;

    --cor-texto-1: #F2F2F2;
    --cor-texto-2: #CCCCCC;
    
    --fonte-1: Poppins, sans-serif;
    --fonte-2: Playfair Display, serif;

    --cor-principal: #42E385;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

body {
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
    background-color: var(--cor-neutra-2);
}