.button {
    border-radius: 1rem;
    color: var(--cor-texto-1);
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--fonte-1);
    text-decoration: none;
    padding: 16px 32px;
    background-color: var(--cor-principal);
}