.heroSection {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-neutra-2);
}

.heroSection h1 {
    font-size: 6rem;
    font-family: var(--fonte-1);
    color: var(--cor-principal);
}

.heroSection span {
    font-size: 6rem;
    font-family: var(--fonte-2);
    color: var(--cor-texto-1);
    line-height: 0px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}